<div class="team-wrapper p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
      <!--col-->
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 margin-b-30" style="overflow: hidden;">
        <div class="person-col scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; transition: transform 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s, opacity 0.85s cubic-bezier(0.455,  0.030, 0.515, 0.955) 0.2s; ">
          <img src="http://bootstraplovers.com/bootstrap4/xone-v2.0/one-page/assets/images/team1.png" alt="" class="img-fluid">
          <div class="card-footer py-0">
            <p class="text-uppercase m-0">Carlos Smith</p>
            <small class="text-muted">Project Manager</small>
          </div>
        </div>
      </div>
    </div>
    <!--row-->
  </div>  
</div>