<div class="hero"  style="overflow: hidden;">
    <header class="intro-header">
        <div class="container">
          <div class="intro-message">
              <h3 class="image-hero-headline-eyebrow">Smart Weather APP</h3>            
              <p class="fp-hero-headline display-1">La Lluvia</p>
              <h2 class="fp-hero-headline">jamás te mojará.</h2>
              <span class="fp-small-block-link">
                <a class="cta more nowrap typography-intro-text" [routerLink]="['features']">Más información</a>
                <p class="retail-cta">O pásate por la sección de <a  [routerLink]="['download']">Descargas</a> hoy mismo.</p>
              </span>              
          </div>
        </div>
      </header>      
</div>