<div class="hero"  style="overflow: hidden;">
  <div class="container">
      <header class="section theme-dark" data-analytics-section-engagement="name:hero">
          <div class="section-content w-100 p-3">
            <h3 class="image-hero-headline-eyebrow">Smart Weather APP</h3>            
            <p class="fp-hero-headline display-1">La Lluvia</p>
            <h2 class="fp-hero-headline">jamás te mojará.</h2>
            <span class="fp-small-block-link">
              <a class="cta more nowrap typography-intro-text" [routerLink]="['about']">Más información</a>
              <p class="retail-cta">O pásate por la sección de <a  [routerLink]="['download']">Descargas</a> hoy mismo.</p>
            </span>
            <a href="/es/iphone-7/" data-analytics-region="learn more" data-analytics-title="iphone 7 hero - learn more"><figure class="image-iphone7-hero"></figure></a>
          </div>
        </header>
        <img src="../../assets/images/luna.jpg" alt="" srcset="">
  </div>    
</div>