<header class="intro-header">
  <div class="container">
      <div class="column large-6 small-12">
          <h2 class="subsection-hero-headline">Eso de ver el clima en la tele es cosa del pasado</h2>
          <figure class="image-section-hero image-entertainment"></figure>
          <p>Smart Weather es diferente porque ofrece la información de la localización de las estaciones meteorológicas, así el usuario puede hacerse una idea de lo acertadas que pueden llegar a ser las predicciones del clima en su región.              
            El clima puede imprevisiblemente afectar las actividades de las personas, pero con Smart Weather y su funcionalidad de alertas programables, el usuario sabrá la predicción del clima del día indicado y no se verá afectado por las sorpresas que puede deparar el clima.             
            Una función innovadora de nuestra aplicación es la sugerencia de actividades según la localización del usuario y del clima en su región. Esto le permitirá aprovechar al máximo la estadía en un lugar y las condiciones climáticas del mismo. </p>
        </div>    
  </div>
</header>
<section class="content-section-a pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2>Mapa con los puntos donde hay estación meteorológica</h2>
        <p class="lead">Le brindamos un mapa para que pueda visualizar en donde están ubicadas nuestras estaciones meteorológicas que son
          las encargadas de la recolección de la información que nos ayudan a predecir el clima de una manera más precisa
          y acorde a su zona o ubicación.</p>
        <small>Actualmente contamos con 4 (depende de los grupos) estaciones en el departamento de Guatemala, se visualiza la colocación por lo menos de una estación por departamento para poder ofrecer predicciones a nivel nacional. </small>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="../../../assets/images/mapa.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<section class="content-section-b pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="../../../assets/images/estacion.jpg" alt="">
      </div>
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Estadísticas por hora del clima y predicción</h2>
        <p class="lead">Por medio de esta funcionalidad podrá tener información del clima actual y cuáles son nuestras predicciones climatológicas
          correspondientes a su ubicación, también contara con un análisis estadístico del comportamiento del clima y los
          cambios u fluctuaciones que este puede tener o tenido en el transcurso del tiempo</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<section class="content-section-a pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2>Actividades para hacer según el clima</h2>
        <p class="lead">Según el clima actual y la predicción de horas posteriores, la aplicación le sugerirá una lista de actividades que
          puede realizar para que aproveche al máximo su tiempo y las condiciones climáticas no sean un impedimento para
          hacer lo que más le gusta.</p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="../../../assets/images/activity.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<section class="content-section-b pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="../../../assets/images/alerts.jpg" alt="">
      </div>
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2>Alertas de clima</h2>
        <p class="lead">Podrá personalizar un sistema de alertas que le notificarán la situación climática según su ubicación de esta manera
          puede programar que día y a qué hora necesita saber el estado actual o futuro del clima para que planifique de
          mejor manera sus actividades y el clima no sea un problema.</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<section class="content-section-a pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2>Aplicación Móvil interactiva</h2>
        <p class="lead">Contamos con una aplicación móvil interactiva la cual se encargará de brindarle una experiencia agradable ya que posee una interfaz que cambia y se adapta según el clima, de esta forma logramos que se percate del estado climático solo con ingresar a la aplicación.</p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="../../../assets/images/smart.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<app-download></app-download>