<header class="intro-header">
    <div class="container">
      <div class="intro-message">
        <h1>Smart Weather APP</h1>
        <h3>Descargas disponibles</h3>
        <hr class="intro-divider">
        <ul class="list-inline intro-social-buttons">
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-dropbox fa-fw"></i>
              <span class="network-name">Dropbox</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/201220120/smartweather-usac" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>          
        </ul>
      </div>
    </div>
  </header>